apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: spot-arm
spec:
  template:
    metadata:
      labels:
        capacity-type: spot
        arch: arm64
    spec:
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: aws-default

      expireAfter: 72h

      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["spot"]

        - key: kubernetes.io/arch
          operator: In
          values: ["arm64"]

        - key: karpenter.k8s.aws/instance-category
          operator: In
          values: ["c", "m", "r"]

        - key: karpenter.k8s.aws/instance-generation
          operator: Gt
          values: ["3"]

  limits:
    cpu: "64"

  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 30s
